root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{ps1,psm1,psd1,ps1xml}]
indent_style = space
indent_size = 4

[*.{bat,cmd}]
end_of_line = crlf
indent_style = space
indent_size = 4
