[submodule "eMule"]
	path = eMule
	url = https://github.com/itlezy/eMule.git
	branch = v0.72a-build-clean
[submodule "eMule-cryptopp"]
	path = eMule-cryptopp
	url = https://github.com/itlezy/eMule-cryptopp.git
	branch = emule-build-v0.72a
	ignore = all
	shallow = true
[submodule "eMule-id3lib"]
	path = eMule-id3lib
	url = https://github.com/itlezy/eMule-id3lib.git
	branch = emule-build-v0.72a
	ignore = all
	shallow = true
[submodule "eMule-miniupnp"]
	path = eMule-miniupnp
	url = https://github.com/itlezy/eMule-miniupnp.git
	branch = emule-build-v0.72a
	ignore = all
	shallow = true
[submodule "eMule-ResizableLib"]
	path = eMule-ResizableLib
	url = https://github.com/itlezy/eMule-ResizableLib.git
	branch = emule-build-v0.72a
	ignore = all
	shallow = true
[submodule "eMule-zlib"]
	path = eMule-zlib
	url = https://github.com/itlezy/eMule-zlib.git
	branch = emule-build-v0.72a
	ignore = all
	shallow = true
[submodule "eMule-mbedtls"]
	path = eMule-mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
	ignore = all
	shallow = true
